{
  "env": {
    "browser": true,
    "es6": true,
    "jest": true,
    "commonjs": true,
    "node": true
  },
  "globals": {
    "Atomics": false,
    "SharedArrayBuffer": false
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 2018,
    "sourceType": "module"
  },

  "plugins": ["@typescript-eslint", "prettier", "unused-imports"],
  "parser": "@typescript-eslint/parser",
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "plugin:import/typescript",
    "prettier",
    "plugin:prettier/recommended"
  ],
  "rules": {
    "import/no-default-export": "off",
    "import/prefer-default-export": "off",
    "no-nested-ternary": "off",
    "no-plusplus": "off",
    "no-undef": "off",
    "@typescript-eslint/interface-name-prefix": "off",
    "@typescript-eslint/no-explicit-any": "error",
    "@typescript-eslint/no-non-null-assertion": "off",
    "@typescript-eslint/no-unused-vars": "warn"
  },

  "overrides": [
    {
      "files": ["*.spec.tsx"],
      "rules": {
        "@typescript-eslint/no-empty-function": "off"
      }
    }
  ],
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
